<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="theme-color" content="#FF4655" />
    <meta
      name="description"
      content="DayZKillfeed.com Web Dashboard: Manage your DayZ Console server"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>DayZKillfeed.com</title>
    <script
      type="text/javascript"
      async=""
      src="https://www.gstatic.com/recaptcha/releases/M-QqaF9xk6BpjLH22uHZRhXt/recaptcha__en.js"
      crossorigin="anonymous"
      integrity="sha384-/iQ3pP5Zp4fD1rguiVgUcA3QJDibOZveudin4X8yHdfRi2QqesZ/FnO4f4VjeD8/"
    ></script>
    <script src="https://jondevelopment.com/fa/js/pro.js"></script>
    <link rel="stylesheet" href="https://jondevelopment.com/fa/css/all.css" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>React App</title>
    <link href="/static/css/main.485b7c77.chunk.css" rel="stylesheet" />
    <script
      async=""
      src="/cdn-cgi/challenge-platform/h/b/scripts/invisible.js?ts=1653562800"
    ></script>
    <style type="text/css">
      @font-face {
        font-family: Roboto;
        src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
      }
    </style>
    <script charset="utf-8" src="/static/js/26.82095601.chunk.js"></script>
    <script charset="utf-8" src="/static/js/5.b31516c2.chunk.js"></script>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="kf-normal-layout">
        <span style=""></span>
        <div class="kf-normal" style="">
          <div class="authentication-page">
            <style>
              .kf-normal {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                padding: 0;
                background: #181b29;
              }
            </style>
            <div class="authentication-design-area">
              <div
                class="design-area-content"
                id="design-content"
                style="margin-top: 295.5px"
              >
                <div class="design-area-logo">
                  <span class="design-area-logo-content"
                    ><span class="sidebar-header-white">DayZKillfeed.</span
                    >com</span
                  >
                </div>
                <span class="design-area-subtitle"
                  >Let's build something
                  <span class="kf-color">awesome</span>.</span
                >
              </div>
            </div>
            <div class="authentication-form-area">
              <div
                class="authentication-form"
                id="authentication-form"
                style="margin-top: 165.5px"
              >
                <div class="authentication-form-title-container">
                  <span class="authentication-form-title"
                    ><i class="fad fa-sign-in me-2"></i>Login</span
                  >
                </div>
                <div
                  class="authentication-form-content authentication-form-content-first"
                >
                  <div class="error_popup" id="error_el"></div>
                  <div
                    class="module-option-container authentication-form-module authentication-form-start"
                  >
                    <span class="module-option-header">Email</span>
                    <input  [(ngModel)]="email"
                      class="form-control module-option-configurable authentication-form-editable"
                      id="email"
                      placeholder="admin@example.net"
                    />
                  </div>
                  <div
                    class="module-option-container authentication-form-module authentication-form-end"
                  >
                    <span class="module-option-header">Password</span
                    ><input
                      class="form-control module-option-configurable authentication-form-editable"
                      id="password"
                      type="password"
                      placeholder="*********"
                      [(ngModel)]="password"
                    />
                  </div>
                  <div class="row kf-login-btn-row">
                    <div class="col-md-7 authentication-form-create">
                      <a class="kf-link" [routerLink]="['/register']"
                        >Create an account</a
                      >
                    </div>
                    <div class="col-md-5">
                      <button class="kf-button kf-login-button" id="login_btn"  (click)="connect()">
                        <i
                          class="fad fa-sign-in me-2"

                        ></i
                        >Login
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
