<div id="root">
  <div class="kf-normal-layout">
    <app-navbar></app-navbar>


<div class="kf-normal" style="">
  <div>
    <div class="row header-row" style="margin-bottom: 1.5rem;">
      <div class="col-md-9"><span class="page-header-title" id="header-title">Create Server</span><span
          class="page-header-description" id="header-description">Add one of your DayZ Nitrado Gameservers to
          Killfeed.DEV</span></div>
      <div class="col-md-3 header-row-right">
        <div class="header-account-info"><img class="header-account-image" alt="User Avatar"><span
            class="header-account-username">ichrak</span></div>
      </div>
    </div>
    <div class="server-add-top">
      <div class="server-add-top-first"><span class="server-add-title">Adding your Nitrado gameserver to
          Killfeed.DEV</span>
        <div class="server-add-description">It's great that you want to add your gameserver to Killfeed.DEV!<br>Please
          make sure the following requirements are met before continuing<div class="row">
            <div class="col-md-6">
              <div class="service-status-container mt-3"><span class="service-status-title"><i
                    class="fab fa-discord me-1"></i>Discord Account</span>
                <div class="service-status-row"><span class="service-status-content"><b>souhaiula#0480</b></span></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-status-container mt-3"><span class="service-status-title"><i
                    class="fas fa-chevron-down me-1"></i>Nitrado Accountt</span>
                <div class="service-status-row"><span class="service-status-content"><b>souhaila</b></span></div>
              </div>
            </div>
          </div>
          <div class="authentication-form-requirements create-server-requirements">
            <div class="authentication-form-requirement create-server-requirement"><span
                class="authentication-form-requirement-icon create-server-requirement-icon"><i
                  class="fab fa-discord"></i></span><span
                class="authentication-form-requirement-text create-server-requirement-text">The Discord server which you
                want to use with Killfeed.DEV is owned by your Discord account</span></div>
            <div class="authentication-form-requirement create-server-requirement create-server-requirement-last mt-3">
              <span
                class="authentication-form-requirement-icon create-server-requirement-icon create-server-requirement-icon-last"><i
                  class="fas fa-user-robot"></i></span><span
                class="authentication-form-requirement-text create-server-requirement-text">The Killfeed.DEV bot is a
                member of your discord server. If not, <span class="kf-link">click here</span> to add it.</span></div>
            <div class="authentication-form-requirement create-server-requirement create-server-requirement-last mt-3">
              <span
                class="authentication-form-requirement-icon create-server-requirement-icon create-server-requirement-icon-last"><i
                  class="fas fa-chevron-down"></i></span><span
                class="authentication-form-requirement-text create-server-requirement-text">The Nitrado server which you
                want to use with Killfeed.DEV is owned by your Nitrado account</span></div>
          </div>
          <div class="kf-btn-container-right">
            <div class="kf-btn-row"><button class="kf-btn kf-btn-red kf-fit-content">Continue<i
                  class="fas fa-arrow-right ms-2"></i></button><button class="kf-btn kf-admin kf-fit-content">Add
                Discord Bot<i class="fab fa-discord ms-2"></i></button></div>
          </div>
        </div>
      </div>
      <div class="server-add-top-second">
        <div class="server-slots-text"><span class="server-slots-title">Server Slots Remaining</span><span
            class="server-slots-info"><span class="server-slots-used">1</span>/<span
              class="server-slots-available">1</span></span></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
